/*
Theme Name: Kitalphar Theme
Theme URI: https://gitlab.com/zagur/KitalpharTheme
Author: Jesús Camacho
Description: Plantilla para promocionar Alpheratz Theme (demo: www.portallinux.es).
Version: 0.2
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Wordpress, Free Software, flat, awesome font.


Full d'estils per colors i fonts d'elements

Opcions: font-*, color, text-*, background-*, line-*, border-*, box-*, letter-*

CONTINGUT:
+ GLOBAL
+ NAVBAR
+ HEADER .MAIN
+ HEADERS SECTIONS
+ SECTION PROMO
+ SECTION FEATURES
+ SECTION CONTACT
+ SECTION INSTALL
+ FOOTER

*/#34495E

/* GLOBAL */
body {
  background-color: #34495E;
  font-family: "Voltaire",sans-serif;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #34495E;
}

h1,h2,h3,h4,h5 {
    font-family: "Montserrat",sans-serif;
}

p {
  text-align: justify;
}

.center {
  text-align: center;
}

ol {
  font-size: 20px;
  line-height: 3;
}

header {
  text-align: center;
}

.container {
  width: 75%;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  background-color: #151515;
  box-shadow: 0px 4px 8px #151515;
}

.navbar a.title-menu,
.navbar ul {
    font-family: "oswald";
}

.navbar a.title-menu {
  line-height: 40px;
  font-size: 30px;
  color: #FFF;
}

.navbar ul {
  font-size: 20px;
  line-height: 40px;
}

.navbar ul li:hover {
  border-bottom: 2px solid #34495E;
  color: #FFF;
}

.navbar ul li a {
  color: #FFF;
}

.navbar ul li a:hover {
  color: #34495E;
}

/* HEADER .MAIN */
header.main {
  background-image: url("../img/texture.png"), url("../img/css.jpg");
  background-position: center center;
  background-size: cover;
}

.main > div > h1 {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.125);
  text-transform: uppercase;
  font-size: 50px;
  text-align: justify;
}

.main > div > p {
  font-size: 35px;
  color: #FFF;
  font-family: Raleway,Helvetica,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 2;
  text-transform: uppercase;
}

.main > div > a.more,
.main > div > i {
  color: #FFF!important;
  border: medium none;
  color: inherit;
  font-size: 18px;
  letter-spacing: 2px;
  margin-left: -102px;
  text-align: center;
  text-transform: uppercase;
}

/* HEADERS SECTIONS */
div .title-section h2 {
  font-size: 36px;
}

div .title-section p {
  font-size: 18px;
}

/* SECTION PROMO */
article.first {
  background: #34495e;
  background-image: url("../img/pageright.png");
  background-position: right;
  background-repeat: no-repeat;
  color: #FFF;
}

.first > div {
    line-height: 2;
    text-align: center;
}

article.second {
    background: #34495e;
    background-image: url("../img/pageleft.png");
    background-position: left;
    background-repeat: no-repeat;
    color: #FFF;
}

.second > div {
    line-height: 2;
    text-align: center;
}

article.first > div > h2,
article.second > div > h2 {
    font-family: "Oswald";
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #151515;
}

/* SECTION FEATURES */
.circle {
    font-size: 45px;
    line-height: 100px;
    text-align: center;
}

.box {
    color: #FFF;
}

.box h3 {
    text-transform: uppercase;
}

.box p {
    line-height: 2;
    letter-spacing: 2px;
}

.box-1 {
    background-color: #2980b9;
}

.box-2 {
    background-color: #8e44ad;
}

.box-3 {
    background-color: #c0392b;
}

.box-4 {
    background-color: #27ae60;
}

.circle {
    border: 4px solid rgba(36, 36, 36, 0.75);
    font-size: 45px;
    line-height: 100px;
}

.circle-1 {
    border-radius: 50% 50% 0 50%;
}

.circle-2 {
    border-radius: 50% 50% 50% 0;
}

.circle-3 {
    border-radius: 50% 0 50% 50%;
}

.circle-4 {
    border-radius: 0 50% 50% 50%;
}

.circle-1:hover {
    background-color: #3498db;
    color: #FFF
}

.circle-2:hover {
    background-color: #9b59b6;
    color: #FFF;
}

.circle-3:hover {
    background-color: #e74c3c;
    color: #FFF
}

.circle-4:hover {
    background-color: #40d47e;
    color: #FFF
}

/* SECTION CONTACT */
#contact {
    background-color: #151515;
    color: #FFF;
}

.social-list li{
  border-radius: 5px;
}

.social-list li a {
    color: #f1f1f1;
    line-height: 3;
}

.social-list li.tw {
  background-color: #01ADDD;
}

.social-list li.fb {
  background-color: #29538C;
}

.social-list li.gh {
  background-color: #1A1A1A;
}

.social-list li.wp {
  background-color: #016E90;
}

.input-name {
    border-bottom: none;
}

.input-email {
    border-top: none;
}

.input-message {
    border-top: 0 none;
}

input, textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #a0b3b0;
    border-radius: 0;
    color: #fff;
    letter-spacing: 0.1em;
    box-sizing: border-box; /* info: http://es.learnlayout.com/box-sizing.html */
}

input:focus, textarea:focus {
    background-color: #1a1a1a;
}

.contact-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: -moz-use-text-color #a0b3b0 #a0b3b0;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-align: right;
    text-transform: uppercase;
}

.contact-btn:hover {
    background-color: #1a1a1a;
}

/* SECTION INSTALL */
.preview,
.download {
  text-align: center;
}

.download a {
  color: #FFF;
  text-transform: capitalize;
  letter-spacing: 1px;
  border: medium none;
  border-radius: 10px;
}

.btn-demo {
  background-color: #2ecc71;
}

.btn-download {
  background-color: #e74c3c;
}

.btn-documentation {
  background-color: #3498db;
}

.download p {
    line-height: 1.5;
}

/* FOOTER */
footer {
    background-color: #1a1a1a;
}

.copyleft {
    color: #555;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}
