/*
Theme Name: Kitalphar Theme
Theme URI: https://gitlab.com/zagur/KitalpharTheme
Author: Jesús Camacho
Description: Plantilla para promocionar Alpheratz Theme (demo: www.kitalphartheme.portallinux.es).
Version: 0.2
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Wordpress, Free Software, flat, awesome font.


Full d'estils per l'estructura de la plantilla.

Opcions: width, height, padding-*, margin-*, float, position, transition, z-index, display...

CONTINGUT:
+ GLOBAL
+ NAVBAR
+ HEADER .MAIN
+ HEADERS SECTIONS
+ SECTION PROMO
+ SECTION FEATURES
+ SECTION CONTACT
+ SECTION INSTALL
+ FOOTER
+ SECTION BETA

*/


/* GLOBAL */
a {
  -webkit-transition: 1s all;
  transition: 1s all;
}

a:hover {
  -webkit-transition: 1s all;
  transition: 1s all;
}

.container {
  width: 75%;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 90;
}

.navbar a.title-menu,
.navbar ul {
    height: 50px;
}

.navbar a.title-menu {
  float: left;
  padding: 15px 70px;
}

.navbar ul {
  float: right;
  padding: 0 70px;
}

.navbar ul li {
  display: inline-block;
  margin-left: 18px;
  height: 58px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.navbar ul li:hover {
  -webkit-transition: .5s all;
  transition: .5s all;
}

/* HEADER .MAIN */
header.main {
  display: table;
  margin-top: 80px;
  position: relative;
  width: 100%;
  height: 600px;
}

.main > div > h1 {
  padding: 10px;
  margin-bottom: 14px;
  opacity: 1;
  padding-bottom: 8px;
  margin-top: 120px;
}

.main > div > p {
  opacity: 1;
  padding-left: 10px;
}

.main > div > a.more,
.main > div > i {
  bottom: 0;
  height: 102px;
  left: 50%;
  margin-left: -102px;
  opacity: 1;
  outline: 0 none;
  padding-left: 2px;
  position: absolute;
  width: 192px;
  z-index: 1;
}

/* SECTION PROMO */
article.first {
  height: 650px;
}

.first > div {
    padding: 100px 0;
    width: 50%;
}

article.second {
  height: 650px;
}

.second > div {
    padding: 100px 0;
    width: 50%;
    float: right;
}

/* SECTION FEATURES */
#features {
  padding: 50px;
}

.box-container {
  margin-bottom: 25px;
}

.box {
    height: 230px;
    margin: 10px;
    padding: 50px;
}

.circle {
    height: 100px;
    margin: 0;
    width: 100px;
    float: left;
    margin-left: 40px;
}

.box p {
  float: right;
  width: 75%;
  margin: 0;
}

/* CONTACT */
#contact {
  padding: 50px;
}

.social-list {
  padding: 0;
}

.social-list li{
  display: inline-block;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  width: 45px;;
}

.social-list li a {
    padding: 15px;
}

.full-box {
    position: relative;
    width: 100%;
}

.input-name,
.input-lastname {
    width: 100%;
}

.input-email {
    width: 100%;
}
.input-message {
    height: 200px;
    width: 100%;
}

input, textarea {
    padding: 15px;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

input:focus, textarea:focus {
    outline: medium none;
}

.contact-btn {
    outline: medium none;
    padding: 15px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}

/* SECTION INSTALL */
.preview img {
  width:100%;
}

.download a {
  padding: 15px;
  margin: 0 10px;
}
.download p {
    margin-top: 35px;
}

/* FOOTER */
footer {
    display: table;
    height: 100px;
    width: 100%;
}

.copyleft {
    float: none;
    margin-top: 45px;
}

/* SECTION BETA */
#beta .beta {
    left: 0;
    position: fixed;
    top: 80px;
}
